:root{

}
*{
 margin: 0;
 padding: 0;   
}

html{
    font-size: 16px;
}
body{
    font-size: 1rem;
    background: linear-gradient(90deg, rgb(81, 81, 204) 10%, rgb(223, 43, 214) 60%, rgb(155, 7, 93) 90%);
    color: whitesmoke;
    font-weight: 400;
}

.cuadrado{
    width: 100%;
    height: 15px;
    margin-bottom: 5px;
    background-color: yellowgreen;
}

p{
    background-color: chocolate;
    margin-bottom: 5px;
}
a{
    background-color: yellow;
    padding: 0 5px;
}
 /**Borrar*******************/
 img{
    width: 200px;
    width: 200px;
    float: right;
    border-radius: 50%;

  }
  .contenedor{
    position: relative ;
    height: 0200px;
    border: 1px solid yellow;
  }
  p{
    position: absolute;
    z-index: -1;
  }